{% load i18n %}

{% get_available_languages as languages %}

{% translate "View the weather in:" %}
{% for lang_code, lang_name in languages %}
    {% language lang_code %}
    <a href="{% url 'weather' %}?city={{ weather.city }}">{{ lang_name }}</a>
    {% endlanguage %}
{% endfor %}


<form action="/weather" method="get">
    {{ form }}
    <input type="submit" value="OK">
</form>

{% if weather %}
<table class="properties">
    <tbody>
        <tr>
            <th scope="row">{% translate "City" %}: </th>
            <td>{{ weather.city }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Description" %}: </th>
            <td>{{ weather.description }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Temperature" %}: </th>
            <td>{{ weather.temp }}</td>
            <td>Celsius ( °C )</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Minimum Temperature" %}: </th>
            <td>{{ weather.min_temp }}</td>
            <td>Celsius ( °C )</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Maximum Temperature" %}: </th>
            <td>{{ weather.max_temp }}</td>
            <td>Celsius ( °C )</td>
        </tr>
        <tr>
        <tr>
            <th scope="row">{% translate "Humidity" %}: </th>
            <td>{{ weather.humidity }}</td>
            <td>(g m*)</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Wind Speed" %}: </th>
            <td>{{ weather.windspeed }}</td>
            <td>(km / h)</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Wind Direction" %}: </th>
            <td>{{ weather.windspeed_direction }}</td>
        </tr>
    </tbody>
</table>
{% endif %}

{% if error %}
<h3>{{ error.message }}</h3>
<h3>{% translate error.message %}</h3>
{% endif %}